@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: #313E50;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: #313E50;
  }
}

body {
  color: (var(--foreground-rgb));
  background: var(--foreground-rgb);
  font-size: 90%;
}

h1 {
  font-weight: bold;
  font-size: 125%;
  color: #C2DFE3;
  opacity: 50;
  text-decoration: #F47E3E underline;
  padding-top:1rem;
}

h2 {
  font-weight: bold;
  font-size: 110%;
  padding-top:0.5rem;
}

.tableContainer {
  height: 200px;
  overflow-y: scroll;
}

.carousel-item{
  max-width: 230px;
  min-width:230px;
}