@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: #313E50;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: #313E50;
  }
}

body {
  color: (var(--foreground-rgb));
  background: var(--foreground-rgb);
}
